body {
	margin: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bs-card {
	/*flex will affect the divs and place the in  column side by side */
	display: flex;
	justify-content: space-around; /*Each element get space */
	width: 500px;

	/*margin shorthand to help center the elements */
	margin: 0 auto;
	text-align: center; /*helps align all h1 and p in center  */
	padding: 20px;
	color: #2b2839;
	background-color: #ddebf8;
	border-bottom: 6px solid #d8cefe;
}

.profile-img {
	width: 180px;

	display: block;
	border-radius: 5px;
}

.dotted {
	border: 1px dotted blue;
}
